
body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #298a08;  
    font-size: 20px; 
}


.quem-somos{
    background-color: #12121f;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #214746;
    color: white;
}

.serviços {
    background-color: #12121f;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}
